# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Publish Python Package Documentation

on:
    release:
        types: [ created ]

jobs:
    deploy:
        runs-on: ubuntu-latest
        container: python:3.9-buster

        steps:
            -   name: Check out repository code
                uses: actions/checkout@v2

            -   name: Install Poetry
                uses: snok/install-poetry@v1.1.4

            -   name: Install dependencies
                run: make install

            -   name: Generate documentation
                run: make docs

            -   name: Deploy documentation
                uses: peaceiris/actions-gh-pages@v3
                with:
                    github_token: ${{ secrets.GITHUB_TOKEN }}
                    publish_dir: docs/_build/html
