on: push

jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.9-buster

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements_dev.txt ]; then pip install -r requirements_dev.txt; fi
          python setup.py install

      - name: Lint code
        run: |
          make lint

      - name: Test with pytest
        run: |
          make test

      - name: Generate coverage report
        run: |
            make coverage

      - name: Codecov
        uses: codecov/codecov-action@v1.3.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          fail_ci_if_error: true
