# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
    release:
        types: [ created ]

jobs:
    deploy:
        runs-on: ubuntu-latest
        container: python:3.9-buster

        steps:

            -   name: Check out repository code
                uses: actions/checkout@v2

            -   name: Install Poetry
                uses: snok/install-poetry@v1.1.4

            -   name: Install dependencies
                run: make install

            -   name: Publish package
                run: make release
                env:
                    POETRY_HTTP_BASIC_PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
                    POETRY_HTTP_BASIC_PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
